body {
  -webkit-font-smoothing: antialiased;
}

background {
  /*background-color: #fff;x*/
  z-index: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  border-radius: 4%;
}

background img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin-left: -2vh;
  margin-top: -20vh;
  height: 120vh;
  width: auto;
  animation-name: reveal;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@media only screen and (min-width: 600px) {
  background {
    margin: 2vh;
    height: 96vh;
    left: -25vw;
    margin-left: 50vw;
    width: 50vw;
  }

  background img {
    height: auto;
    width: 60vw;
    margin-top: -30vh;
  }
}

/* Standard syntax */
@keyframes reveal {
  0% {
    -webkit-filter: blur(8px);
  }

  50% {
    -webkit-filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(8px);
  }
}

main,
header {
  /*opacity: 0.95;*/
  position: relative;
  z-index: 1;
}

footer {
  opacity: 0.8;
}

header {
  height: 32vh;
}

h4 {
  opacity: 0.8;
}

main {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.card .card-image img.no-display,
.no-display {
  display: none;
}

.center {
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #262626;
}

.content {
  margin-top: 10em;
}

.analyze {
  margin-top: 5em;
}

.upload-label {
  padding: 10px;
  font-size: 12px;
}

.result-label {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
  width: 200px;
  height: 40px;
  border: solid 1px #7052CB;
  border-radius: 2px;
  background-color: #7052CB;
  font-size: 13px;
  color: #ffffff;
}

button:focus {
  outline: 0;
}

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
